{% extends "EsieaBlogBundle::layout.html.twig" %}

{% block title %}
  Lecture d'un article - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>{{ article.title }}</h2>
  <i>Par {{ article.author }}, le {{ article.writeDate|date('d/m/Y') }}</i>

  <div class="well">
    {{ article.content }}
  </div>

  <p>
    <a href="{{ path('esiea_blog_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('esiea_blog_edit', {'id': article.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'article
    </a>
    <a href="{{ path('esiea_blog_delete', {'id': article.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'article
    </a>
  </p>

{% endblock %}